@import (reference) "~antd/lib/style/themes/default";

@pro-card-prefix-cls: ~"@{ant-prefix}-pro-card";

.@{pro-card-prefix-cls} {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: @card-radius;

  &-border {
    border: @border-width-base @border-style-base @border-color-split;
  }

  &-split-vertical {
    border-right: @border-width-base @border-style-base @border-color-split;
  }

  &-split-horizontal {
    border-bottom: @border-width-base @border-style-base @border-color-split;
  }

  &-contain-card {
    background-color: transparent;
  }

  &-contain-card > &-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0;
  }

  &-contain-card > &-body-column {
    flex-direction: column;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: @padding-md;
    padding-bottom: 0;
    background-color: white;
    &-border {
      padding-bottom: @padding-md;
      border-bottom: @border-width-base @border-style-base @border-color-split;
    }
  }

  &-title {
    font-weight: bold;
  }

  &-body {
    display: block;
    box-sizing: border-box;
    padding: @padding-md;

    &-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.loop-grid-columns(@index) when (@index > 0) {
  .@{pro-card-prefix-cls}-span-@{index} {
    display: block;
    width: percentage((@index / @grid-columns));
  }
  .loop-grid-columns((@index - 1));
}

.loop-grid-columns(@grid-columns);
