{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false
        }
      ],
      "@babel/preset-react",
      "@babel/preset-typescript",
      [
        "@emotion/babel-preset-css-prop",
        {
          "autoLabel": "dev-only",
          "labelFormat": "[local]"
        }
      ]
    ],
    "plugins": []
}
